:root {
    --text: #26B9A2;
    --background: #EBECEA;
    --bg: #FDFFFC;
    --text2: #626262;
}

body {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}

.dashboard-container {
    background-color: var(--bg);
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--text);
    padding: 20px;
    width: 10%
}